VITE_SUPABASE_URL=https://jichzbnbilngjlqnkebn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2NzZ3F6enJodGN1aGhnZXphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxMTUzMTgsImV4cCI6MjA3MzY5MTMxOH0.bv505Sw35IZPW5ck8h6YUexbWn25OqLdFthM8-SeIKc
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppY2h6Ym5iaWxuZ2pscW5rZWJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxNzAwNiwiZXhwIjoyMDY5OTkzMDA2fQ.c8md7hbVDWwIk64OFwbg54bfv5cGKB2fFJJn6IvCRt8