VITE_SUPABASE_URL=https://myocsgqzzrhtcuhhgeza.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2NzZ3F6enJodGN1aGhnZXphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxMTUzMTgsImV4cCI6MjA3MzY5MTMxOH0.bv505Sw35IZPW5ck8h6YUexbWn25OqLdFthM8-SeIKc
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2NzZ3F6enJodGN1aGhnZXphIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODExNTMxOCwiZXhwIjoyMDczNjkxMzE4fQ.su6mdoHujz58kc3Xj_tTgOK_25uw5knTb1jaz_rf5K4