VITE_SUPABASE_URL=https://jichzbnbilngjlqnkebn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppY2h6Ym5iaWxuZ2pscW5rZWJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTcwMDYsImV4cCI6MjA2OTk5MzAwNn0.SZ_BWTLsYJoQ4X82D_TkawaZiXBd4UU7VS998id04fE
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppY2h6Ym5iaWxuZ2pscW5rZWJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxNzAwNiwiZXhwIjoyMDY5OTkzMDA2fQ.c8md7hbVDWwIk64OFwbg54bfv5cGKB2fFJJn6IvCRt8